/* Color palette */
.palette {
  color: #2D5D7D; 
  color: #F7EFFC;
  color: #71BBDB;
  color: #2CF6B3;
  color: #F26DF9
}

.bg-container {

}

.background-heading, .skill-heading, .work-heading { 
 color: black; 
 font-size: 1rem;

 margin-left: 2rem;
 margin-bottom: -3rem;
 padding: 5px;

 top: 50%;
 left: auto;
 right: auto;
 opacity: 0;
 
 transition: all 0.5s ease;
 transform-origin: bottom center;
}

.heading-visible {
  top: 25%;
  opacity: 1;
  transform: scale(3)
}

.heading-container-open {
  top: -2%;
}

/* ------------- Header --------------- */

.header-container {
  height: 3rem;
  width: 100%;
  align-items: center;
  color: #132836;
  z-index: 10;
}

.contact-bar {
  width: 10rem;
}

.header-name, .contact-bar {
  margin: 1rem;
}

.header-link {
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-link:hover {
  font-weight: 700;
}

/* ------------- Hero --------------- */

.swirler {
  height: 18rem;
  margin-right: 2rem;
}

.intro-text {
  width: 40vw;
  padding-left: 1rem;
  text-align: center;
}

/* ------------- CONTENT CONTAINERS --------------- */

.content-container {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  cursor: pointer;
  overflow-x: none;

  padding: 2rem 3rem;
  float: right;

  transition: all 0.5s ease;
}

.content-container:hover {
  margin-bottom: 2rem;
  box-shadow: 5px 7px #2D5D7D;
}

.container-open {
  width: 50rem;
  height: 75vh;
  margin-bottom: 3rem;

  border-radius: 20px;
  cursor: default;
  z-index: 10;
}

.background-icon, .skill-icon, .work-icon  {
  font-size: 1px;
  opacity: 0;
  transition: all 0.5s ease;
  left: 47%;
  bottom: 45%;
}

.icon-hover {
  text-shadow: 5px 5px #2D5D7D;
  transform: scale(1.2);
  bottom: 47%;
}

.icon-visible {
  font-size: 5rem;
  opacity: 1;

}


.background {
  left: 5%;
}

.skill {
  left: auto; 
  right: auto;
}

.work {
  right: 5%;
}

.content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  display: none;
  flex-direction: column;
  transition: all 0.7s ease;
}

.content-visible {
  display: flex;
}

.content-fadein {
  opacity: 1; 
}

.exit-icon {
  font-size: 2.5rem;
  right: 5%; 
  top: -3%;
  padding: 1rem;
  z-index: 100;
  cursor: pointer;
  pointer-events: all;

  transition: all 0.2s ease;
}

.exit-icon:hover {
  transform: scale(1.4);
  text-shadow: 4px 4px 0px #2D5D7D;
}

.top-content-container {
  position: sticky;
  width: 100%;
  top: 0;
  justify-content: flex-end;
  flex-direction: row;
  z-index: 5;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 1rem 0 2rem 0;
}

/* ------------- BACKGROUND --------------- */

.bg-container {
  height: 100%;
}

.logo-container {
  /* width: 20%; */
  margin-right: 2rem;
}

.logo {
  width: 3rem;
}

/* ------------- SKILLS --------------- */

.skill-section-wrapper {
  margin-bottom: 2rem;
}

.skill-bar-wrapper {
  width: 100%;
}

.bars-container {
  flex: 1;
}

.skill-text {
  height: 1.5rem;
  width: 15rem;
  margin-bottom: 1.4rem;
}

.bar-container {
  width: 100%;
  height: 2rem;
  align-items: center;
}

.bar {
  height: 100%;
  background-color: #71BBDB;
  color: transparent;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: -5px
}

.bar:hover {
  color: black;
  background: #2CF6B3;
}

.javascript { width: 50%; }
.html-css { width: 70%; }
.vs-code { width: 50%; }
.java { width: 30%; }
.python { width: 20%; }
.webflow { width: 80%; }
.adobe { width: 50%; }
.wordpress { width: 60%; }
.excel { width: 70%; }
.office { width: 70%; }

/* ------------- PROJECTS --------------- */

.project-lists {
  width: 100%;
  padding: 0 1rem;
  margin: 2rem 0;
}

.project-image {
  width: 100%;
}

.project-item {
  margin-bottom: 4rem;
}

.project-link {
  font-weight: bold;
  font-size: 1.2rem;
}

.project-link:hover {
  text-decoration: underline;
}

/* ------------- FOOTER LINKS --------------- */


.contact-links-container {
  width: 50%;
}

.contact-icon:hover {
  transform: scale(1.2);
  box-shadow: 5px 2px #2D5D7D;
  border-radius: 10px;
}

.contact-icon {
  transition: all 300ms ease;
  font-size: 4rem;
  color: black;
}
