
@font-face {
  src: url(../font/HKGrotesk-Bold.ttf);
  font-family: HKGrotesk;
  font-weight: 700;
}
@font-face {
  src: url(../font/HKGrotesk-Light.ttf);
  font-family: HKGrotesk;
  font-weight: 300;
}
@font-face {
  src: url(../font/HKGrotesk-Regular.ttf);
  font-family: HKGrotesk;
  font-weight: 400;
}


/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
.white { color: white; }
.black { color: black; }
.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bold {font-weight: 700;}
.light {font-weight: 300;}

/* Getting rid of css preset styling */
a { text-decoration: none; color: black; }
input { padding: 0; color: black; }
button { border: none; }
body { margin: 0; font-weight: 400; width: 100%; box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

/* Reusable grid classes */
.grid { display: grid; 
        column-gap: 30px; 
        row-gap: 30px; 
      }
.auto-fit {
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
} 

.three-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.four-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* ------------- GLOBAL --------------- */

.intro-container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

body { 
  font-family: 'HKGrotesk', sans-serif; 
  line-height: normal;
  max-height: 100vh;
  cursor: default;
}

.section {
  height: 90vh;
}

.bg-container {
  width: 100vw;
  
}

.bg-image {
  width: 100%;
  height: 100%;
}

/* ------------- TYPOGRAPHY --------------- */


h1, h2, h3, h4 {
  margin: 0;
}

h3 { font-size: 1.2rem}
h4 { font-size: 0.9rem}
p { font-size: 1rem}

.blue { 
  color: #2D5D7D; 
}

.site-heading {
  font-size: 6rem;
  margin: 0;
}

.light {
  opacity: 0.7;
}

.large-text { font-size: 4rem; }
.medium-text { font-size: 2rem; }
.small-text { font-size: 1.5rem; }
