/* Color palette */
.palette {
  background-color: rgb(116, 142, 200); 
  background-color: rgb(69, 232, 252);
  background-color: rgb(223, 28, 205);
  background-color: rgb(41, 33, 181);
}

@font-face {
  src: url(./font/HKGrotesk-Bold.ttf);
  font-family: HKGrotesk;
  font-weight: 700;
}
@font-face {
  src: url(./font/HKGrotesk-Light.ttf);
  font-family: HKGrotesk;
  font-weight: 300;
}
@font-face {
  src: url(./font/HKGrotesk-Regular.ttf);
  font-family: HKGrotesk;
  font-weight: 400;
}


/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
.white { color: white; }
.black { color: black; }
.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bold {font-weight: 700;}
.light {font-weight: 300;}

/* Getting rid of css preset styling */
a { text-decoration: none; color: black; }
input { padding: 0; color: black; }
button { border: none; }
body { margin: 0; font-weight: 400; width: 100%; box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

/* Reusable grid classes */
.grid { display: grid; 
        column-gap: 30px; 
        row-gap: 30px; 
      }
.auto-fit {
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
} 

.three-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.four-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* ------------- GLOBAL --------------- */

.main-container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

body { 
  font-family: 'HKGrotesk'; 
  line-height: normal;
  max-height: 100vh;
}

/* ------------- TYPOGRAPHY --------------- */


h1, h2, h3, h4 {
  margin: 0;
}

body {
  overflow: hidden;
}

.site-heading {
  font-size: 6rem;
  margin: 0;
}

.large-text { font-size: 4rem; }
.medium-text { font-size: 2.5rem; }
.small-text { font-size: 1.5rem; }

.section-heading {
 margin-left: 5rem;
 top: -10%;
 left: 0%;
 background: white;
}

/* ------------- Header --------------- */

.header-container {
  height: 3rem;
  width: 100%;
}

.header-name {
  margin: 1rem;
}

/* ------------- Hero --------------- */

.greeting-container {
  margin-top: -10rem;
}

.swirler {
  height: 18rem;
  margin-right: 2rem;
}

.intro-text {
  width: 30rem;
  padding-left: 1rem;
}

/* ------------- CONTENT CONTAINERS --------------- */

.content-container {
  height: 7rem;
  width: 10rem;
  border-radius: 20px;
  border: 3px solid black;
  background: white;
  cursor: pointer;

  padding: 2rem 3rem;
  float: right;
  bottom: 0;
  margin-bottom: -5rem;

  transition: all 0.7s ease;
}

.content-container:hover {
  margin-bottom: -1rem;
}

.container-open {
  width: 50rem;
  height: 80vh;
  cursor: default;
  z-index: 10;
  margin-bottom: -1rem;
}

.background {
  left: 0;
}

.skill {
  left: auto; 
  right: auto;
}

.work {
  right: 0;
}

.content {
  max-height: 80vh;
  overflow: auto;
  opacity: 0;
  display: none;
  flex-direction: column;

  transition: all 0.7s ease;
}

.content-visible {
  display: flex;
}

.content-fadein {
  opacity: 1; 
}

.exit-icon {
  font-size: 2rem;
  right: 5%; 
  top: -3%;
  padding: 1rem;
  z-index: 10;
  cursor: pointer;

  transition: all 0.1s ease;
}

.exit-icon:hover {
  transform: scale(1.3);
  color: rgb(223, 28, 205);
  text-shadow: 4px 4px 0px rgb(41, 33, 181);
}


.top-content-container {
  position: sticky;
  width: 100%;
  top: 0;
  justify-content: flex-end;
  flex-direction: row;
  z-index: 5;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 1rem 0 2rem 0;
}

/* ------------- BACKGROUND --------------- */

.logo-container {
  width: 20%;
}

.logo {
  width: 3rem;
}

/* ------------- SKILLS --------------- */

.skill-section-wrapper {
  margin-bottom: 2rem;
}

.skill-bar-wrapper {
  width: 100%;
}

.bars-container {
  flex: 1;
}

.skill-text {
  height: 1.5rem;
  width: 15rem;
  margin-bottom: 1.4rem;
}

.bar-container {
  width: 100%;
  height: 2rem;
  align-items: center;
}

.bar {
  height: 100%;
  background-color: rgb(223, 28, 205);
  color: transparent;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2px;
  padding-left: 5px;
  margin-right: 10px;
}

.bar:hover {
  color: black;
  background: rgb(69, 232, 252);
}

.javascript { width: 50%; }
.html-css { width: 70%; }
.vs-code { width: 50%; }
.java { width: 30%; }
.python { width: 20%; }
