/* Color palette */
.palette {
  background-color: rgb(116, 142, 200); /* Background */
  background-color: rgb(69, 232, 252);
  background-color: rgb(223, 28, 205);
  background-color: rgb(41, 33, 181);
}

@font-face {
  src: url(./font/HKGrotesk-Bold.ttf);
  font-family: HKGrotesk;
  font-weight: 700;
}
@font-face {
  src: url(./font/HKGrotesk-Light.ttf);
  font-family: HKGrotesk;
  font-weight: 300;
}
@font-face {
  src: url(./font/HKGrotesk-Regular.ttf);
  font-family: HKGrotesk;
  font-weight: 400;
}


/* Reusable classes */
.flex { display: flex; }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }
.center { align-items: center; justify-content: center; }
.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.fixed { position: fixed; }
.absolute { position: absolute; }
.relative { position: relative; }
.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }
.white { color: white; }
.black { color: black; }
.bg-transparent { background-color: transparent; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.bold {font-weight: 700;}
.light {font-weight: 300;}

/* Getting rid of css preset styling */
a { text-decoration: none; color: black; }
input { padding: 0; color: black; }
button { border: none; }
body { margin: 0; font-weight: 400; width: 100%; box-sizing: border-box; }
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

/* Reusable grid classes */
.grid { display: grid; 
        column-gap: 30px; 
        row-gap: 30px; 
      }
.auto-fit {
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
} 

.three-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.four-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* ------------- GLOBAL --------------- */

.section {
  width: 100%;
  height: 30rem;
  margin: auto;
}

body { 
  font-family: 'HKGrotesk'; 
  line-height: normal;
  padding: 3rem;
}

/* ------------- TYPOGRAPHY --------------- */


h1, h2 {
  margin: 0;
  background: white;
}

.site-heading {
  font-size: 6rem;
  margin: 0;
}

.large-text { font-size: 4rem; }
.medium-text { font-size: 2rem; }
.small-text { font-size: 1rem; }

.section-heading {
 margin-left: 5rem;
 top: -10%;
 left: 0%;
}


/* ------------- Home page hero --------------- */

.swirler {
  height: 20rem;
  margin: 0 2rem 0 -10rem;
}

.me-icon {
  position: absolute;
  height: 5rem;
  right: 30%;
  bottom: 58%;
}

.peace-icon {
  position: absolute;
  right: 28%;
  bottom: 63%;
  height: 2rem;
}

.intro-text {
  width: 25rem;
  height: 2rem;
  padding-left: 1rem;
}

/* -------------  --------------- */

.content-container {
  height: 7rem;
  width: 10rem;
  border-radius: 20px;
  border: 3px solid black;
  background: white;

  margin: auto;
  margin-bottom: 10rem;
  padding: 2rem;
  float: right;
}

.content {
  height: 28rem;
  overflow: auto;
  opacity: 0;
}

.test-div {
  height: 10rem;
  width: 10rem;
  background: black;
  color: white;
}